############################
# motor Record
# Since JOG is not supported by the driver yet, 0.0
# is a good value. However, 0.0 will fall back to VELO
# In other words: JVEL < 0 is a good value here
record(motor,"$(P)$(M)")
{
    field(DESC,"$(DESC)")
    field(EGU, "mm")
    field(DTYP,"asynMotor")
    field(OUT,"@asyn($(PORT),$(ADDR))")
    field(VELO,"$(VELO=1)")
    field(JVEL,"$(JVEL=-1)")
    field(ACCL,"$(ACCL=0)")
    field(JAR, "$(JAR=0)")
    field(MRES,"$(MRES=1.e-6)")
    field(ERES,"$(ERES=0)")
    field(PREC,"$(PREC=6)")
    field(EGU,"$(EGU=mm)")
    field(RDBL,"$(P)$(M)PosWhenDone")
    field(RRES,"1.0")
    field(URIP,"$(URIP=0)")
    field(RDBD,"$(RDBD=0.01)")
    field(SPDB,"$(SPDB=0.01)")
    field(ADEL,"$(ADEL=0.00001)")
    field(MDEL,"$(MDEL=0.00001)")
    field(RTRY,"$(RTRY=5)")
    field(RMOD,"$(RMOD=0)")
    field(DLY,"$(DLY=0.1)")
    field(FOFF,"$(FOFF=0)")
    field(NTM,"0")
    field(TWV,"$(TWV=1)")
    field(DLLM,"$(DLLM=0)")
    field(DHLM,"$(DHLM=0)")
}

record(ai, "$(P)$(M)PosWhenDone") {
    field(DTYP, "asynFloat64")
    field(DESC, "Position when done moving")
    field(INP,  "@asyn($(PORT),$(ADDR))MotorPosWhenDone")
    field(EGU,  "mm")
    field(PREC, "6")
    field(ASLO, "$(ASLO=0.000001)")
    field(ADEL, "$(RAWENCSTEP_ADEL=0.000001)")
    field(MDEL, "$(RAWENCSTEP_MDEL=0.000001)")
    field(SCAN, "I/O Intr")
}

record(mbbo, "$(P)$(M)SensPwrMode") {
    field(DESC, "Sensor Power Mode")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))SensorPowerMode")
    field(VAL,  "2")
    field(PINI, "RUNNING")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(ZRST, "Disabled")
    field(ONST, "Enabled")
    field(TWST, "PowerSave")

    info(asyn:READBACK,"1")
}

# When sensor is disabled, update RBV only when motor has finished moving
# Do this by using PosWhenDone in RDBL + URIP
record(calcout, "$(P)$(M)#SetURIP" ){
    field(DESC, "Set URIP based on sensor mode")
    field(INPA, "$(P)$(M)SensPwrMode-RB CP")
    field(CALC, "A == 0")
    field(OUT,  "$(P)$(M).URIP PP")
    field(OOPT, "On Change")
}

# Sensor power save delay
# Value is saved in non-volatile memory
# read back what we have at the beginning
record(longout, "$(P)$(M)SensPwrSavDly") {
    field(DESC, "Sensor Power Save Delay")
    field(EGU,  "ms")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))SensorDelay")
    field(VAL,  "100")
    field(HOPR, "5000")
    field(LOPR, "0")

    info(asyn:READBACK,"1")
    info(asyn:INITIAL_READBACK,"1")
}

# Calibrate, even readback
record(bo, "$(P)$(M)Calibrate-Cmd") {
    field(DESC, "Calibration command")
    field(DTYP,"asynInt32")
    field(OUT, "@asyn($(PORT),$(ADDR),$(TIMEOUT))CAL")
    field(ZNAM, "Not calibrated")
    field(ONAM, "Calibrated")

    info(asyn:READBACK,"1")
    info(asyn:INITIAL_READBACK,"1")
}

record(longout, "$(P)$(M)MaxCtrlLFreq") {
    field(DESC, "MCL Frequency")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))MCLF")
    field(HOPR, "20000")
    field(LOPR, "50")
    field(EGU,  "Hz")

    info(asyn:READBACK, "1")
}

# hold time after positioning
# Use 2000000000 as a maximum value to simplify things
# and to avoid possible integer overflow in range checking.
# To be checked in the C code
record(longout, "$(P)$(M)HoldTime") {
    field(DESC, "hold time")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))HOLD")
    field(VAL,  "-1")
    field(PINI, "RUNNING")
    field(EGU,  "ms")
    field(HOPR, "2000000000")
    field(LOPR, "-1")

    info(asyn:READBACK, "1")
}

record(mbbo, "$(P)$(M)PosType") {
    field(DESC, "Positioner type")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PTYP")
    field(ZRVL, "300")
    field(ZRST, "CT001/AT001")
    field(ONVL, "346")
    field(ONST, "CT002/AT002")
    field(TWVL, "502")
    field(TWST, "CT001/AT006")
    field(THVL, "303")
    field(THST, "CT008/AT001")
    field(FRVL, "309")
    field(FRST, "CT005/AT001")
    field(FVVL, "357")
    field(FVST, "CT025/AT001")
    field(SXVL, "301")
    field(SXST, "CT001/AT002")
    field(SVVL, "313")
    field(SVST, "CT003/AT002")
    field(EIVL, "358")
    field(EIST, "CT025/AT002")
    field(NIVL, "307")
    field(NIST, "CT007/AT002")
    field(TEVL, "416")
    field(TEST, "CT063/AT002")
    field(ELVL, "348")
    field(ELST, "CT004/AT001")
    field(TVVL, "345")
    field(TVST, "CT002/AT001")
    field(TTVL, "1")
    field(TTST, "None")

    info(asyn:READBACK,"1")
    info(asyn:INITIAL_READBACK,"1")
}

record(bi, "$(P)$(M)Referenced") {
    field(DESC, "Reference")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))REF")
    field(SCAN, "I/O Intr")
    field(ZNAM, "Not Referenced")
    field(ONAM, "Referenced")
}

record(longin, "$(P)$(M)#PosStat-R") {
    field(DESC, "get positioner status word")
    field(DTYP, "asynInt32")
    field(SCAN, "I/O Intr")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PSTAT")
}

record(stringin, "$(P)$(M)-MsgTxt") {
    field(DESC, "Message text")
    field(DTYP, "asynOctetRead")
    field(INP,  "@asyn($(PORT),$(ADDR))MOTOR_MESSAGE_TEXT")
    field(SCAN, "I/O Intr")
}

record(ai, "$(P)$(M)EncoderPos") {
    field(DTYP, "asynFloat64")
    field(DESC, "EncoderPos")
    field(INP,  "@asyn($(PORT),$(ADDR))MOTOR_ENCODER_POSITION")
    field(EGU,  "mm")
    field(PREC, "6")
    field(ASLO, "$(ASLO=0.000001)")
    field(ADEL, "$(RAWENCSTEP_ADEL=0.000001)")
    field(MDEL, "$(RAWENCSTEP_MDEL=0.000001)")
    field(SCAN, "I/O Intr")
}

#
# Open loop commands - ignores input sensor
#

record(longout, "$(P)$(M)StepCnt") {
    field(DESC, "Step count to move")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))STEPCNT")
    field(VAL,  "0")
}

record(longout, "$(P)$(M)StepFreq") {
    field(DESC, "Step frequency")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))STEPFREQ")
    field(PINI, "YES")

    info(asyn:READBACK,"1")
}

record(bo, "$(P)$(M)OpenLoop") {
    field(DESC, "Open loop (use steps directly)")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))OPENLOOP")
    field(ZNAM, "Closed")
    field(ONAM, "Opened")
    field(VAL,  "0")  # start with closed loop
    field(PINI, "YES")
}

record(ao, "$(P)$(M)StepSizeFwd") {
    field(DESC, "Step size forward")
    field(EGU,  "mm")
    field(PREC, "6")
    field(ASLO, "$(ASLO=0.000000001)")
    field(DTYP, "asynFloat64")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))STEPSIZEF")
    field(PINI, "YES")

    info(asyn:READBACK, "1")
}

record(ao, "$(P)$(M)StepSizeRev") {
    field(DESC, "Step size reverse")
    field(EGU,  "mm")
    field(PREC, "6")
    field(ASLO, "$(ASLO=0.000000001)")
    field(DTYP, "asynFloat64")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))STEPSIZER")
    field(PINI, "YES")

    info(asyn:READBACK, "1")
}

record(ai, "$(P)$(M)CommandedPos") {
    field(DTYP, "asynFloat64")
    field(DESC, "Commanded motor position")
    field(INP,  "@asyn($(PORT),$(ADDR))MOTOR_POSITION")
    field(EGU,  "mm")
    field(PREC, "6")
    field(ASLO, "$(ASLO=0.000001)")
    field(ADEL, "$(RAWENCSTEP_ADEL=0.000001)")
    field(MDEL, "$(RAWENCSTEP_MDEL=0.000001)")
    field(SCAN, "I/O Intr")
}

